@{
    ViewData["Title"] = "Add new department";
}

<div class="p-4 container">
    <div class="row p-4">
        <div class="col-md-12">
            <h3>Add new department</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="Name" class="form-label fw-bold">Department Name</label>
                    <input type="text" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>